body {
  font-size: 16px ;
  color: #fff;
  background-color: #919091;
  font-family:'VN3DH', sans-serif;
}

#header-nav {
  display: flex;
  height: 250px;
      
  background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.box{

  border-radius: 3px;
  border-style: dotted ;
  border-color:aquamarine;
  position: absolute;
  width: 250px;
  height: 250px;
  left: 1px;
}

#logo{
  background: url("../images/logo_res.png");
  background-repeat: no-repeat;
  display: flex;
  
    
  }

  .navbar-brand p {
   position: relative;
   margin-top: 85px;
   left: 90px 

} 

@font-face {
  font-family:'VN3DH';
  src: url(../fonts/VN3DH.TTF);
}
.navbar-brand h1{ /* Restaurant name */
  font-family:'VN3DH',serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  position: absolute;
  left: 50px;
  top: 100px;
  
  
}